@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html {
    width: 100%;
    height: max-content;
    overflow-x: hidden;
}

body {
    position: relative;
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(10px);
    /* background-attachment: fixed; */
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}


nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: white;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
}

.nav_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav_line {
    width: 120%;
    height: 2.5px;
    background-color: blue;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.nav_button:hover .nav_line {
    transform: translateX(0)
}

.register {
    height: 50px;
    width: 180px;
    border-radius: 35px;
    border: 1px solid blue;
    background: transparent;
    color: blue;
    font-size: 20px;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

.register:hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}

main {
    height: 570px;
    width: 100%;
    background: linear-gradient(150deg, #007cd5, #002f50);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
}

.hero_image {
    height: 100%;
    width: 40%;
    background-image: url(images/hero_image.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero_text {
    height: inherit;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 20px; */
}

.h1_text {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.h2_text {
    font-size: 20px;
    margin: 15px 0;
    font-weight: lighter;
}

.hero_button {
    height: 70px;
    width: 410px;
    display: flex;
}

.learn_button {
    height: 65px;
    width: 200px;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;
}

.video_button {
    height: 65px;
    width: 200px;
    border-radius: 15px;
    background-color: #004fd0;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.learn_button:hover {
    background-color: #004fd0;
    color: white;
}

.intro {
    height: 90px;
    width: 100%;
    background-color: white;
}

.intro_bar {
    display: flex;
    height: inherit;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

li {
    height: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

#skills_section {
    height: 1080px;
    width: 100%;
}

.skill_heading_text {
    width: 100%;
    /* height: 20%; */
    height: 100px;
    font-size: 2rem;
    text-align: center;
    color: #368dde;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 130px 0;
    position: relative;
}

.rocket_pic {
    height: 40px;
    width: 40px;
    background-size: contain;
}


.h1_skill {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.h2_skill {
    font-weight: bold;
    color: black;
    font-weight: 600;
}

.heding_line {
    width: 350px;
    height: 4px;
    background-color: #db9f51;
    position: absolute;
    bottom: -70px;
}


#skills_card_section {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.card_image {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 1px rgba(0, 0, 0, 0.36);
    margin-bottom: 20px;
    /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.316)); */
}

.skills_card {
    height: 550px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.451);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.skills_card:hover {
    transform: scale(1.1);
}

.card_heading {
    margin-left: 20px;
    font-weight: bolder;
}

.card_text {
    width: 260px;
    margin: 20px;
    font-weight: 100;
    line-height: 23px;
}

.learn_more {
    color: #dfa75d;
    margin: 40px 20px;
}

.skills_card_button_section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card_button {
    height: 70px;
    width: 200px;
    border-radius: 15px;
    background-color: #72cd7f;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.326);
    transition: all 0.2s ease-in-out;
}

.card_button:hover {
    background-color: #5fac6a;
    transform: scale(1.1);
}

#exam_section {
    height: 1080px;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.604);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 90px;
}

.exam_heading {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    position: relative;
}

.university_icon {
    height: 40px;
    width: 40px;
    background-size: contain;
}

.h1_exam {
    margin-top: 20px;
    font-size: 35px;
    /* font-weight: lighter; */
    color: #991efa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.h2_exam {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
}

.exam_line {
    position: absolute;
    bottom: -20px;
    width: 400px;
    height: 4px;
    background-color: #da9b4a;
}

.exam_card_section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.exam_card {
    height: 580px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.451);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.exam_card:hover {
    transform: scale(1.05);
}

.exam_card_image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 1px rgba(0, 0, 0, 0.36);
    margin-bottom: 20px;
}

.exam_card_heading {
    margin-left: 20px;
    font-weight: bolder;
}

.exam_text {
    width: 400px;
    margin: 20px;
    font-weight: 100;
    line-height: 23px;
}

#about_section {
    width: 100%;
    height: 970px;
    background-color: white;
    padding: 40px 0 0 0;
}

.about_heading {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.h3_about {
    padding: 5px;
    border-left: 4px solid #da9b4a;
    border-right: 4px solid #da9b4a;
}

.h1_about {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
}

.about_line {
    width: 200px;
    height: 3px;
    background-color: #da9b4a;
}

.about_main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about_content {
    width: 33%;
    height: 700px;
    margin-top: 00px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.about_image {
    width: 33%;
    height: 700px;
    background-image: url('https://youthcareerhub.com/wp-content/uploads/2023/02/why_choose.png');
    background-repeat: no-repeat;
    background-position: top;
}

.about_text_heading {
    text-align: left;
    font-size: 30px;
    color: #102d5e;
    margin-bottom: 20px;
}

.about_content_text {
    width: 60%;
}

#feedback_section {
    height: 1080px;
    width: 100%;
    background-color: #fcf8f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 270px 0;
}

.feedback_heading {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.h1_feedback {
    font-size: 3.5vw;
    font-weight: bolder;
}

.feedback_line {
    width: 45vw;
    height: 3px;
    background-color: #ffb700;
}

.feedback_main {
    width: 100%;
    height: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.feedback_side {
    width: 20vw;
    height: 36vw;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.feedback_side:hover {
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.199);
}

.feedback_center {
    width: 40vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.feedback_top {
    height: 28vw;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.feedback_top:hover {
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.199);
}

.feedback_buttom {
    height: 50vw;
    width: 100%;
    background-color: #5bb286;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.feedback_buttom:hover {
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.199);
}

.feedback {
    font-size: 1.3vw;
    line-height: 1.7vw;
    margin: 2vw;
    color: #737373;
    font-family: "Sedan", serif;
}

.feedback_buttom .feedback {
    color: white;
}

.feedback_user_image {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 0 0 0 1.8vw;
}

.feedback_user {
    display: flex;
    font-size: 1.4vw;
    font-weight: lighter;
    margin-top: 2.3vw;
    color: #15063f;
    display: flex;
    gap: 15px;
}

.feedback_buttom .feedback_user {
    color: white;
}

.feedback_stars {
    margin-left: 2.8vw;
}

.feedback_center .feedback_stars {
    margin: 0 0 2vw 5vw;
}

#team_section {
    width: 100%;
    height: 1080px;
    background-color: #e8e4da;
}

.team_heading {
    height: 14vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.team_heading h1 {
    font-size: 4vw;
    font-weight: bolder;
}

.team_line {
    width: 9vw;
    height: 2px;
    background-color: #ffab00;
}

.team_main {
    margin: 120px;
    width: 100%;
    display: flex;
    gap: 3vw;
}
.team_left img {
    width: 40vw;
    height: auto;
}

.team_right {
    width: 50vw;
    position: relative;
}

.team_right h3 {
    color: #6ec1e4;
    font-weight: lighter;
    margin-top: 20px;
}

.team_right h1 {
    color: #6ec1e4;
    font-size: 4.4vw;
    font-weight: lighter;
    position: relative;
    left: -120px;
    top: 20px;
    padding: 10px;
    background-color: white;
    font-family: "Proza Libre", sans-serif;
}

.team_right_line {
    width: 3vw;
    height: 1px;
    background-color: black;
    margin: 50px 0;
}

.team_info {
    width: 35vw;
    line-height: 1.7vw;
    color: #8a8988;
}


.media_icon {
    margin: 10vh 0 0 0;
    width: 15vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}

.media_icon a {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedbd3;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.media_icon a:hover {
    transform: translateY(-25%);
    background-color: #fdfcfb;
    color: #629eba;
}

.contact_section {
    width: 100%;
    height: 35vh;
    background-color: #050a16e4;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-evenly;
}

.contact_text {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_text span {
    color: #cc9955;
    font-size: 4vw;
    font-weight: 400;
    margin: 0 1.5vw;
}

.contact_text h1 {
    color: #ffe91e;
}
.contact_text p {
    color: #fff;
}

.contact_number {
    display: flex;
    align-items: center;
}

.contact_number h1 {
    color: white;
    font-size: 3.5vw;
}

.details_section {
    padding: 20vh 0;
    height: 60vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.details_logo {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.column_heading {
    color: black;
    font-size: 1.6vw;
    font-weight: bold;
}
.details {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #3b3939;
}






.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 40
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

