* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .container::before {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: conic-gradient(
      transparent 180deg,
      transparent 20deg,
      rgb(255, 255, 255) 400deg
    );
    animation: rotate 4s linear infinite;
  }
  
  .container::after {
    content: "";
    height: 490px;
    width: 490px;
    border-radius: 50%;
    background-color: #181818;
    position: absolute;
  }
  
  .sun {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 225, 0);
    /* box-shadow: inset 0 0 60px 40px orange; */
    border-radius: 50%;
    animation: glow 3s alternate infinite;
  }
  
  .earth_orbit {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 4s linear infinite;
  }
  
  .moon_orbit {
      height: 120px;
      width: 120px;
      z-index: 5;
      position: relative;
      top: -250px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .moon_orbit::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: conic-gradient(
      transparent 180deg,
      transparent 20deg,
      rgb(255, 255, 255) 400deg
    );
    transform: rotate(190deg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s linear infinite;
  }
  
  .moon_orbit::after {
      content: "";
      height: 115px;
      width: 115px;
      border-radius: 50%;
      position: absolute;
      background-color: #181818;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .moon_container {
      height: 132px;
      width: 132px;
      position: absolute  ;
      z-index: 1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: rotate 2s linear infinite;
  }
  .moon {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
      box-shadow: inset 0 0 10px 1px wheat,
      0 0 10px 5px wheat;
      position: relative;
      top: 60px;
      z-index: 1;
  }
  
  .earth {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: absolute;
      background-color: rgb(80, 144, 234);
      box-shadow: inset 0 0 20px 2px blue;
  }
  
  @keyframes rotate {
  0% {
  rotate: 0deg;
  }
  100% {
  rotate: 360deg;
  }
  }
  
  @keyframes glow {
      0%{box-shadow: inset 0 0 60px 40px orange, 0 0 40px 7px orange;}
      50%{box-shadow: inset 0 0 60px 40px orange, 0 0 40px 14px orange;}
      100%{box-shadow: inset 0 0 60px 40px orange, 0 0 40px 21px orange;}
  }
  
  
  @media screen and (max-width: 700px) {
    * {
      transform: scale(0.8);
    }
  }
  
  @media screen and (max-width: 700px) {
    body {
      justify-content: center;
      padding: 20px;
    }
  
    .container {
      height: 300px;
      width: 300px;
    }
  
    .container::before {
      height: 300px;
      width: 300px;
    }
  
    .container::after {
      height: 290px;
      width: 290px;
    }
  
    .sun {
      height: 100px;
      width: 100px;
    }
  
    .earth_orbit {
      height: 300px;
      width: 300px;
    }
  
    .moon_orbit {
      height: 60px;
      width: 60px;
      top: -150px;
    }
    .moon_container {
        height: 70px;
      width: 70px;
    }
  }
  